<!doctype html>
<html ng-app="application-dashboard" ng-controller="applicationDashboardCtrl">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar">
        <a class="nav-link" href="/index.html">Home</a>
        <a class="nav-link" href="#" ng-click="logout()">Logout</a>
        <code id="current-user"> signed in as '{{ currentUser }}' </code>
    </nav>
    <div id="filter-wrapper">
      <form id="form-filter">
        Search By
        <br>
        <label for="input-search-name">Name or Email: </label>
        <input type="text" id="input-search-name">
        <label for="input-positions">Position: </label>
        <select class="form-control" id="input-position" >
          <option ng-repeat="position in positions"> {{ position.positionName }} </option>
          <option selected>Any</option>
        </select>
        <input type="submit" ng-click="filterApplications()">
      </form>
    </div>
    <div class="application-list">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Full Name
            </th>
            <th scope="col">
              Email
            </th>
            <th scope="col">
              Position
            </th>
          </tr>
        </thead>
        <tr class="td-repeat" ng-repeat="application in filteredApplications">
          <th scope="row">
            <a href="/application-info.html?id={{application.ApplicationId}}">
              <p>{{ application.FirstName }}</p>
              <p>{{ application.LastName }}</p>
            </a>
          </th>
          <td>
            <p>{{ application.Email }}</p>
          </td>
          <td>
            <p>
              {{ getPositionName(application.PositionId) }}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <script> 
    angular.module('application-dashboard', [])
    .controller('applicationDashboardCtrl', ['$scope', '$http', '$window', function($scope, $http, $window){
        
        $http.get('/api/position').then( res => {
          $scope.positions = res.data;
        });
      
        var req = {
            method: 'GET',
            url: '/api/application',
            headers: { Authorization: 'Bearer ' + localStorage.getItem('JWT') },
            data: { }
          };

        $http(req).then( res => {
          $scope.applications = res.data;
          $scope.filteredApplications = $scope.applications;
          console.log($scope.applications);
        });

        $scope.filterApplications = () => {
          var searchStr = document.getElementById('input-search-name').value;
            var position = document.getElementById('input-position').value;
          $scope.filteredApplications = $scope.applications.filter( a => {
            return  a.LastName.toLowerCase().includes(searchStr.toLowerCase()) == true  ||
                    a.Email.toLowerCase().includes(searchStr.toLowerCase()) == true
          });

          if(position != 'Any'){
            $scope.filteredApplications = $scope.filteredApplications.filter( a => {
              console.log($scope.positions)
              return a.PositionId == $scope.positions.find( p => {
                return p.positionName == position;
              }).positionId;
            })
          } 
        }

        $scope.parseJwt = (token) => {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace('-', '+').replace('_', '/');
            return JSON.parse(window.atob(base64));
        };

        $scope.currentUser = $scope.parseJwt(localStorage.getItem('JWT')).Username;

        $scope.logout = () => {
        localStorage.clear();
        $window.location.href = "/index.html"
        }

        $scope.getPositionName = id => {
         return $scope.positions.find(function(position){
                  return position.positionId == id;
                }).positionName
        }
      }]);
    </script>
  </body>
</html>