<!doctype html>
<html ng-app="apply-form" ng-controller="applyFormCtrl">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <div class="page-header">{{ currentUser }}</div>
    <h1>Appication Form</h1>
    <br>
    <div class="form-group">
        <label for="input-fname">First Name</label>
        <input type="text" class="form-control" id="input-fname" placeholder="John">
    </div>
    <div class="form-group">
        <label for="input-lname">Last Name</label>
        <input type="text" class="form-control" id="input-lname" placeholder="Doe">
    </div>
    <div class="form-group">
        <label for="input-email">Email address</label>
        <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="input-positions">Position Being Applied</label>
        <select class="form-control" id="input-position">
          <option ng-repeat="position in positions"> {{ position.positionName }} </option>
        </select>
      </div>
    <div class="form-group">
        <label for="input-file">Upload Resume</label>
        <input type="file" class="form-control" id="input-file">
    </div>
    <br/>
    <button class="btn-submit" ng-click="this.submitForm()">Apply</button>
    <script>
    angular.module('apply-form', [])
    .controller('applyFormCtrl', ['$scope', '$http', '$window', function($scope, $http, $window){
        $http.get('/api/position').then(function(res) {
          $scope.positions = res.data;
          console.log($scope.positions);
        });


        submitForm = function(){
          var req = {
            method: 'POST',
            url: '/api/application',
            headers: { },
            data: { 
              application: {
                FirstName: document.getElementById('input-fname').value,
                LastName: document.getElementById('input-lname').value,
                Email: document.getElementById('input-email').value,
                PositionId: $scope.positions.find(() => {
                  return positionName = document.getElementById('input-position').value;
                }).positionId,
                ResumePath: "/"
              }
            }
          }

          console.log("work plz");
          $http(req).then(res => {
            $window.location.href = '/index.html';
          });
        };
        
      }]);
    </script>
  </body>
</html>