<!doctype html>
<html ng-app="apply-form" ng-controller="applyFormCtrl">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="form-wrapper">
      <h1>Application Form</h1>
      <br>
      <div class="form-group">
          <label for="input-fname">First Name</label>
          <input type="text" class="form-control" id="input-fname" placeholder="John" value="{{generateRandomString(15)}}">
      </div>
      <div class="form-group">
          <label for="input-lname">Last Name</label>
          <input type="text" class="form-control" id="input-lname" placeholder="Doe" value="{{generateRandomString(20)}}">
      </div>
      <div class="form-group">
          <label for="input-email">Email address</label>
          <input type="email" class="form-control" id="input-email" placeholder="name@example.com" value="{{generateRandomString(50)}}">
      </div>
      <div class="form-group">
          <label for="input-positions">Position Being Applied</label>
          <select class="form-control" id="input-position">
            <option ng-repeat="position in positions"> {{ position.positionName }} </option>
          </select>
        </div>
      <div class="form-group">
          <label for="input-file">Upload Resume</label>
          <input type="file" class="form-control" id="input-file">
      </div>
      <br/>
      <div class="form-group">
      <button class="btn-submit" ng-click="submitForm()">Apply</button>
      </div>
    </div>
    <script>
    angular.module('apply-form', [])
    .controller('applyFormCtrl', ['$scope', '$http', '$window', function($scope, $http, $window){
        $http.get('/api/position').then(function(res) {
          $scope.positions = res.data;
        });

        $scope.generateRandomString = length => {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for (let i = 0; i < length; i++){
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          }

          return text;
        }

        $scope.uploadFile = files => {
            var fd = new FormData();
            //Take the first selected file
            fd.append("file", files[0]);

            $http.post('api/application/file', fd, {
                withCredentials: true,
                headers: {'Content-Type': undefined },
                transformRequest: angular.identity
            });

        };

        $scope.submitForm = () => {
          var req = {
            method: 'POST',
            url: '/api/application',
            headers: { },
            data: { 
              application: {
                ApplicationId: -1,
                FirstName: document.getElementById('input-fname').value,
                LastName: document.getElementById('input-lname').value,
                Email: document.getElementById('input-email').value,
                PositionName: document.getElementById('input-position').value,
                ResumePath: document.getElementById('input-file').files[0].name
              }
            }
          }

          $http(req).then(res => {
            $scope.uploadFile(document.getElementById('input-file').files);
            $window.location.href = "/index.html";
          });
        };
        
      }]);
    </script>
  </body>
</html>