<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body ng-app="index" ng-controller="indexCtrl">
    <div class="page-header"> {{ currentUser }} </div>
    <div class="row">
      <h1 class="text-center offset-4 col-4">Welcome to Resume Manager</h1>
    </div>
    <br/>
    {{ foo }}
    <button ng-click="navigateToApply()" class="button-index offset-2 col-3">Apply for Position</button>
    <span class="col-2"></span>
    <button ng-click="navigateToLogin()" class="col-3 button-index">Manager Login</button>
    <!-- <script src="./index.module.js"></script> -->
    <script>
    angular.module('index', [])
      .controller('indexCtrl', ['$scope', '$http', '$window', function($scope, $http, $window){
        $scope.navigateToLogin = function(){
          $window.location.href = '/manager-login.html';
        }
        $scope.navigateToApply = function() {
          $window.location.href = '/apply-form.html';
        }
        $http.get('/api/auth/current-user')
          .then(function(res) {
            $scope.currentUser = res.data;
          });
      }]);
    </script>
  </body>
</html>